body{
  background-color: #eeeeee;
  font-family: 'Abel';
}
a:hover{
  color: #6C3398;
  text-decoration: none;
}

.jumbotron {
  font-family: 'Advent Pro';
  background-color: black;
  color: white;
}

.title{
  font-size: 18px;
  font-style: italic;
  color: #331254;
}
.artist{
  font-size: 16px;
}

.genre{
  font-size: 12px;
}

.year{
  font-family: 'Advent Pro';
  color:  #2f2f2f;
}

.year:hover{
  font-size: 20px;
}


.description{
    margin: 10px;
    color: #0f0f0f;
    font-family: 'Thasadith', sans-serif;
    font-size: 18spx;
    text-align: justify;

}

table {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tracklist{
  text-align: center;
  padding-left: 60px;
}

#end-paragraph{
  padding: 100px;
  text-align: justify;
  font-family: 'Thasadith', sans-serif;
  color: Black;
  font-size: 13px;

}
